@media (max-width: 768px) {
  #cover img {
    width: 70vw;
  }

  #cover div {
    margin: unset;
    width: 100%;
  }

  #cover div .logo_ {
    height: 110%;
  }
}

@media (min-width: 769px) {
  #cover div {
    width: 35%;
  }
}

#cover {
  display: flex;
  height: 100dvh;
  width: 100dvw;
}

#cover div {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 65dvh;
}

#cover div h1 {
  font-size: 3rem;
}

#cover div .logo_ {
  position: relative;
  top: 35px;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

#cover div .logo_ img {
  position: absolute;
  transform: translate(-50%, 10%);
  transition: all 0.5s;

  height: 100%;
}

#cover div .logo_:has(:hover) img {
  top: -5%;
  left: 50%;
  filter: invert(var(--invert));
}

#cover .logo_ img:nth-child(1) {
  top: -9%;
  left: 57%;
  filter: var(--filter-yellow);
  opacity: 0.7;
}

#cover .logo_ img:nth-child(2) {
  top: 0%;
  left: 50%;
  filter: var(--filter-magenta);
  opacity: 0.7;
}

#cover .logo_ img:nth-child(3) {
  top: -9%;
  left: 43%;
  filter: var(--filter-cyan);
  opacity: 0.7;
  z-index: -1;
}
