.skip {
  position: fixed;
  bottom: 6rem;
  right: 0.5rem;
  z-index: 5;

  background: var(--menu-background);

  padding: 1rem 2.5rem;
  color: var(--writing-color);

  border: 1px solid var(--writing-color);
  border-radius: 2rem;

  transition: box-shadow 0.5s;

  overflow: hidden;

  animation: loading 15s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.skip::after {
  content: "";

  position: absolute;
  left: 0px;
  top: 110%;
  z-index: -10;

  height: 100%;
  width: 100%;

  background: var(--writing-color);
  transition: all 1s;
  filter: blur(3px);

  animation: loading_after 15s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.skip::before {
  content: "";

  position: absolute;
  inset: 3px;

  z-index: -1;

  background-color: var(--menu-background);
  border-radius: 2rem;
}

.skip:hover {
  box-shadow: #af04af 0px 0px 25px;

  cursor: pointer;
}

@keyframes loading {
  0% {
    opacity: 1;
    right: 0.5rem;
  }
  97% {
    opacity: 1;
    right: 0.5rem;
  }
  98% {
    opacity: 0;
    right: 0.5rem;
  }
  99% {
    right: -10rem;
  }
  100% {
    opacity: 0;
    display: none;
    right: -10rem;
  }
}

@keyframes loading_after {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}

.default {
  position: absolute;
  top: 1.25rem;
  right: 0.5rem;
  background-color: var(--background-color);

  width: 1.5rem;
  height: 1.5rem;

  padding: 1.2rem;

  transition: all 1s;

  border-radius: 3rem;
  border: none;
}

.default svg {
  position: absolute;
  inset: 0.45rem;
}

.default[aria-expanded="true"] {
  filter: invert(1);
}

.default .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.default[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.default[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.default[aria-expanded="true"] .top {
  rotate: 45deg;
}

.default[aria-expanded="true"] .middle {
  opacity: 0;
}

.default[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

#config_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: white;

  border-radius: 2rem 0 0 2rem;
  padding: 0.5rem;
  background-color: var(--dark-100);
  width: 6.5rem;
  max-height: 2.275rem;
  font-size: 2rem;

  position: fixed;
  bottom: 2rem;
  right: 0rem;

  transition: all 1s;
}

#config_menu > * {
  aspect-ratio: 1;
}

#config_menu svg {
  stroke: white !important;
}

#config_menu:has(.config.open) {
  right: -4.5rem;
}

.config {
  animation: rotating 1s infinite linear;
  animation-play-state: paused;
}

@keyframes rotating {
  100% {
    rotate: 45deg;
  }
}

.config:hover {
  animation-play-state: running;
}
