.chapt {
  text-align: justify;
  padding: 15px 15%;
}

div :has(> .chapt) {
  height: calc(100dvh - 6rem);
  color: white;
  padding: 3rem;
  /* background: black; */
}

.chapt p {
  text-indent: 3rem;
}

h5 {
  min-width: 210px;
  width: 15%;
  margin: 0 auto;
  padding: 0.5rem;

  padding-left: 5%;
}

.new h5 {
  border: orange 1px solid;
  border-radius: 2rem;

  text-align: left;

  position: relative;

  text-indent: 2%;
}

.new h5::after {
  content: "NOVO";

  padding: 0.5rem;
  border-radius: 2rem;

  position: absolute;
  right: 0;
  top: 0;

  background-color: orange;
}

@media (max-width: 1680px) {
  h5 {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .chapt {
    padding: 15px;
    padding-bottom: 5rem;
  }

  .new h5 {
    width: 65%;
  }

  div :has(> .chapt) {
    padding: 1rem;
  }
}

@keyframes fade_in {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.skipped p {
  animation: fade_in 3s;
  transition: 0.5s all;
}
