.chapt {
    color: white;
    text-align: justify;
    padding: 15px 15%;
}

div :has(> .chapt) {
    height: calc(100dvh - 6rem);
    color: white;
    padding: 3rem;
    background: black;
}

@media (max-width: 768px) {
    .chapt {
        padding: 15px;
    }
    
    div :has(> .chapt) {
        padding: 1rem;
    }
}