:root {
  --orange: #ce4b00;
  --purple: #af04af;

  --cyan: #00ffff;
  --magenta: #ff00ff;
  --yellow: #ffff00;

  --dark-100: black;
  --dark-90: #2b2b2b;
  --white-90: #e2e2e2;
  --white-100: white;

  --writing-color: black;
  --background-color: var(--white-90);
  --menu-background: white;

  --invert: 0;

  --background-image: radial-gradient(
    circle,
    #ffffff,
    #d4d1f5,
    #a6a4ea,
    #707bdf,
    #0055d4
  );

  /* filters from black to color */
  --filter-yellow: invert(89%) sepia(86%) saturate(4856%) hue-rotate(359deg)
    brightness(105%) contrast(104%);
  --filter-magenta: invert(29%) sepia(96%) saturate(5761%) hue-rotate(294deg)
    brightness(114%) contrast(131%);
  --filter-cyan: invert(84%) sepia(60%) saturate(3115%) hue-rotate(113deg)
    brightness(112%) contrast(104%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --writing-color: white;
    --background-color: var(--dark-90);
    --menu-background: black;

    --invert: 1;

    --background-image: radial-gradient(
      circle,
      #4d007f,
      #27176e,
      #011a58,
      #00163e,
      #000e23
    );
  }
}

body {
  margin: 0 !important;

  background: var(--background-image);
  color: var(--writing-color);
}

section :is(h1, h2, h5) {
  text-align: center;
}
