#Up {
  color: var(--purple);
}

#Up button {
  position: absolute;
  top: 1rem;
  right: -3rem;

  z-index: 999;

  color: black;
  background-color: white;

  padding: 0.5rem;

  border-radius: 2rem;
  border: none;
}
