.chapterMiniature {
  margin: 0.15rem;
  background: #7c7c7c;
  color: white;

  justify-content: center;
  border: none;

  padding: 0.5rem;

  position: relative;
}

@media (max-width: 768px) {
  .chapterMiniature {
    width: calc(100% - 2rem);
    border-radius: 2rem;
    margin: 0.2rem 1rem;
  }

  .chapterMiniature:hover {
    cursor: pointer;
    box-shadow: white 0px 0px 10px;
  }

  .chaptNumber {
    height: 2rem;
    display: flex;
    line-height: 2rem;
    justify-content: center;
    margin-right: 0.3rem;
  }

  .chaptTitle {
    display: inline-flex;
    line-height: 2rem;
  }

  .chapterMiniature.new::after {
    content: "NOVO";

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;

    background-color: orange;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    height: calc(100% - (1rem));
  }

  .chapterMiniature.old::after {
    content: "";

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;

    background-color: gray;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    height: calc(100% - (1rem));
  }
}

@media (min-width: 768px) {
  .chapterMiniature {
    width: calc(100% - 0.6rem);
    margin-left: 0.3rem;

    font-size: 1.1rem;

    transition: all 0.5s;

    justify-content: center;
    border-radius: 1rem;

    position: relative;
    z-index: 5;
  }

  .chapterMiniature:hover {
    box-shadow: rgb(175, 4, 175) 0px 0px 25px;

    z-index: 4;
  }

  .chapterMiniature.new::after {
    content: "NOVO";

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    width: 0.7rem;
    height: 0.7rem;
    background-color: orange;
    font-size: 1rem;

    border-radius: 1rem;
    overflow: hidden;

    transition: 0.5s all;
    text-indent: 1rem;
  }

  .chapterMiniature.new:hover::after {
    width: 50%;
    height: 1rem;
    text-indent: unset;
  }
}
