#Menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 20dvw;
  height: 100dvh;

  background-color: black;
  transition: all 1s;

  z-index: 10;
}

#Menu:has(button[data-state="closed"]) {
  transform: translateX(-100%);
}

#Menu:has(button[data-state="closed"]) h1 {
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  #Menu {
    width: 100dvw;
  }
}

#Menu section section button {
  transition: transform 1s, opacity 1s;
}

#Menu:has(button[data-state="open"]) section section button {
  transform: translateX(0);
  opacity: 1;
}

#Menu:has(button[data-state="closed"]) section section button {
  transform: translate(-50%);
  opacity: 0;
}
